h2 {
	width: 9%;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 10px;
	padding:0 0 10px 0;
	border-bottom: 1px solid #e3e3e3;
	color:#444;
}
.pic, .button{
	margin: 0 auto;
	width: 17%;
}
.submit {
	background-color: #3b7dc3;
	color:#fff;
	padding:5px 22px;
	border-radius:2px;
	border:0px;
	cursor:pointer;
	font-size:14px;
}
#main {
	width:80%;
	margin:0 auto;
}